@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fbcce1;

  overscroll-behavior: none;

  min-height: 100dvh;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  -webkit-tap-highlight-color: transparent;
}
.main-container {
  min-height: 100dvh; /* Dynamic Viewport Height */
  background: linear-gradient(to bottom, #fbcce1, #f8a5c2);
  display: flex;
  flex-direction: column;
}

@keyframes curtainDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes curtainUp {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes scalePulse {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  60% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate-curtainDown {
  animation: curtainDown 0.8s ease-in-out forwards;
}

.animate-curtainUp {
  animation: curtainUp 1.2s ease-in-out forwards;
}

.animate-scalePulse {
  animation: scalePulse 0.4s ease-in-out;
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.15);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-heartBeat {
  animation: heartBeat 0.8s ease-in-out both;
}
