@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fbcce1;

  overscroll-behavior: none;

  min-height: 100dvh;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  -webkit-tap-highlight-color: transparent;
}
.main-container {
  min-height: 100dvh; /* Dynamic Viewport Height */
  background: linear-gradient(to bottom, #fbcce1, #f8a5c2);
  display: flex;
  flex-direction: column;
}
